*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins','sans-serif';
    background: url(../img/ceia.jpg) no-repeat center center/cover;
    color: rgb(0, 0, 0);
}
header{
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0);
    justify-content: space-between;
    color: white;
    padding: 20px 0;
    text-align: left;
    backdrop-filter: blur(10px);
    display: flex;
    z-index: 10;
    background: linear-gradient(rgba(231, 2, 2, 0.685) , transparent);
    text-align: left;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    text-shadow: 2px 2px 3px black;
}
a{
    color: white;
    text-decoration: none;
    padding: 10px 20px;
}
footer{
    justify-content: space-between;
    padding: 40px 0 0 0;
    background: rgba(0, 0, 0, 0.671);
    backdrop-filter: blur(10px);
    color: white;
    justify-content: space-between;
    border: solid 1px rgb(0, 0, 0);
}
.container{
    display: flex;
    max-width: 1900px;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.041);
    backdrop-filter: blur(5px);

}
.card{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 300px;
    border: solid rgb(0, 0, 0);
    filter: blur();
    width: 100%;
    height: 300px;
}
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
h1{
    text-shadow: 2px 2px 3px rgb(255, 0, 0);
    font-family: 

}
h2{
    text-shadow: 2px 2px 3px black;

}
figcaption{
    text-shadow: 1px 1px 3px black;
    color: rgba(255, 255, 255, 0.781);
}
.hero-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.coluna{
    display: flex;
    flex-direction: column;

}
img{
    width: 200px;
    height: 200px;
}
p{
    text-shadow: 1x 1x 1x rgb(255, 255, 255);
    font-family: cursive;
    color: rgba(255, 255, 255, 0.719);
    
}
.direita{
    display:flex;
    flex-direction: row-reverse;
}

.figure-img{
    display: flex;
    width: 100%;
    height: auto;    
    justify-content: center;
}
.container .hero{
    display: flex;
    border: solid 1px rgb(0, 0, 0);
    width: 100%;
    height: 100%;
    padding: 20px;
    }
.esquerda{
    display: flex;
    flex-direction: row;
}
main{
    margin-top: 60px;
}

